.new-product{
    width: 100%;
}
.new-product__title{
    margin-bottom: 4rem;
}
.new-product__form{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 1rem;
}
.input__wrapper{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 48%;
}
.new-product__box p{
    position: relative;
}
.new-product__box input,
.new-product__box label{
    -webkit-transition: all .2s;
	transition: all .2s;
	font-family: "Rubik";
}
.new-product__label{
    position: absolute;
	top: 1.5rem;
	right: 3rem;
	color: #aaa;
	line-height: 1;
}
.new-product__input{
    width: 100%;
	padding: 1.5rem 3rem;
	border: 2px solid var(--active);
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    outline: none;
    border-radius: 1rem;
}
.new-product__input:focus{
    border-color: var(--blue);
}
.new-product__input:focus + label{
    top: -2.5rem;
	right: 0rem;
}
.new-product__select{
    width: 100%;
    padding: 1.5rem 3rem;
	border: 2px solid var(--active);
    outline: none;
	background: transparent;
	font-family: "Rubik";
    color: #aaa;
    font-size: 1.6rem;
    border-radius: 1rem;
}
.uploader{
   width: 100%;
   min-height: 14.5rem;
   border-radius: 1rem;
   border: 2px solid var(--active);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
.uploader button{
    border: none;
    outline: none;
    background-color: var(--active);
    border-radius: 1rem;
    padding: 1.5rem 3rem;
    color: var(--text);
    font-family: "Rubik";
    cursor: pointer;
}
.uploader svg{
    font-size: 5rem;
    color: var(--active);
}
.uploader--with-modal{
    width: 100%;
}
.new-product__input[type='number']::placeholder{
    font-size: 1.6rem;
    color: #aaa;
}
.submit-btn{
    background-color: var(--blue);
    color: var(--body);
    cursor: pointer;
}