.question-wrapper{
    margin-top: 50px;
    width: 50%;
}
.question-box{
    border: 1px solid #9a9a9a;
    padding: 10px;
    margin-bottom: 5px;
}
.question-heading{

}
.question-text{

}
.question-icon{

}
.answer{

}
.anser-text{

}