.blog-section{
    width: 100%;
    margin-bottom: 4.4rem;
}
.blog-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}