@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
  --blue: #007bff;
  --body: #f8f9fa;
  --heading: #212529;
  --text: #343a40;
  --green: #28a745;
  --gray: #6c757d;
  --red: #dc3545;
  --shadow: #ced4da;
  --sidebar: #e9ecef;
  --active: #dee2e6;
  --shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
html , * ,*::after ,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 10px;
}
ul{
  list-style-type: none;
}
body {
  font-size: 1.6rem;
  font-family: "Rubik";
  background-color: var(--body);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
