.blog{
    width: 23rem;
    height: 26rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    background-color: var(--light-green-color);
    flex-grow: 1;
}
.blog__image{
    width: 100%;
    height: 15rem;
    overflow: hidden;
    border-radius: 1rem;
}
.blog__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog__title{
    color: var(--dark-green-color);
    text-align: justify;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 1.8rem;
}
.blog__pproperty{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog__view,
.blog__like{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--dark-green-color);
}