.header{
    width: 100%;
    background: linear-gradient(135deg,var(--dark-green-color),var(--green-color));
    padding-bottom: 11.3rem;
    margin-bottom: 4.5rem;
}
.header__content{
    margin-top: 11.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.header__content aside{
    width: 60%;
}
.header__titlle{
    color: var(--yellow-color);
    font-weight: bold;
    text-align: justify;
    font-size: 4.3rem;
}
.header__caption{
    color: var(--white-color);
    text-align: justify;
    margin: 4.1rem 0;
    font-size: 2.5rem;
    line-height: 1.5;
}
.header__picture{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39%;
    flex-shrink: 0;
}
.header__picture-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width:992px){
    .header__titlle{
        font-size: 3.5rem;
    }
    .header__caption{
        font-size: 2rem;
    }
}
@media (max-width:720px){
    .header__content{
        flex-direction: column;
    }
    .header__content aside{
        width: 100%;
    }
    .header__picture{
        width: 100%;
    }
    .header__titlle{
        font-size: 3.2rem;
    }
}