.css-1iqthua-MuiDataGrid-virtualScroller ,
.css-1bgckiu-MuiDataGrid-main{
    font-size: 1.6rem !important;
    font-family: "Rubik" !important;
}
.css-db1x6l-MuiDataGrid-root .MuiDataGrid-virtualScrollerContent .MuiDataGrid-row{
    font-size: 1.6rem !important;
}