@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --dark-green-color: #183114;
  --green-color: #446129;
  --light-green-color: #92A65F;
  --yellow-color: #FCEE21;
  --white-color: #F3F4D3;
  --cream-color: #DCDE9F;
}
html{
  font-size: 10px;
}
html , * , *::after , *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}